openapi: 3.1.0
info:
  title: Reference data API
  version: v2.0
servers:
  - url: https://data.norge.no/reference-data/
    description: Production server
paths:
  /iana/media-types:
    get:
      tags:
        - media-type-controller
      operationId: getMediaTypes
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MediaTypes'
    post:
      tags:
        - media-type-controller
      operationId: updateMediaTypes
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: OK
        "403":
          description: Forbidden
  /iana/media-types/{type}:
    get:
      tags:
        - media-type-controller
      operationId: getMediaType
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MediaTypes'
  /iana/media-types/{type}/{subType}:
    get:
      tags:
        - media-type-controller
      operationId: getMediaType_1
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: subType
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MediaType'
  /eu/file-types:
    get:
      tags:
        - file-type-controller
      operationId: getFileTypes
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FileTypes'
    post:
      tags:
        - file-type-controller
      operationId: updateFileTypes
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: OK
        "403":
          description: Forbidden
  /eu/file-types/{code}:
    get:
      tags:
        - file-type-controller
      operationId: getFileType
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FileType'
  /eu/eurovocs:
    get:
      tags:
        - euro-voc-controller
      operationId: getEuroVocs
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EuroVocs'
    post:
      tags:
        - euro-voc-controller
      operationId: updateEuroVocs
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: OK
        "403":
          description: Forbidden
  /eu/eurovocs/{code}:
    get:
      tags:
        - euro-voc-controller
      operationId: getEuroVoc
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EuroVoc'
  /eu/data-themes:
    get:
      tags:
        - data-theme-controller
      operationId: getDataThemes
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataThemes'
    post:
      tags:
        - data-theme-controller
      operationId: updateDataThemes
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: OK
        "403":
          description: Forbidden
  /eu/data-themes/{code}:
    get:
      tags:
        - data-theme-controller
      operationId: getDataTheme
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataTheme'
  /eu/distribution-statuses:
    get:
      tags:
        - distribution-status-controller
      operationId: getDistributionStatuses
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributionStatuses'
    post:
      tags:
        - distribution-status-controller
      operationId: updateDistributionStatuses
      security:
        - ApiKeyAuth: [ ]
      responses:
        "200":
          description: OK
        "403":
          description: Forbidden
  /eu/distribution-statuses/{code}:
    get:
      tags:
        - distribution-status-controller
      operationId: getDistributionStatus
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributionStatus'
  /eu/distribution-types:
    get:
      tags:
        - distribution-type-controller
      operationId: getDistributionTypes
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributionTypes'
    post:
      tags:
        - distribution-type-controller
      operationId: updateDistributionTypes
      security:
        - ApiKeyAuth: [ ]
      responses:
        "200":
          description: OK
        "403":
          description: Forbidden
  /eu/distribution-types/{code}:
    get:
      tags:
        - distribution-type-controller
      operationId: getDistributionType
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributionType'
  /eu/dataset-types:
    get:
      tags:
        - dataset-type-controller
      operationId: getDatasetTypes
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DatasetTypes'
    post:
      tags:
        - dataset-type-controller
      operationId: updateDatasetTypes
      security:
        - ApiKeyAuth: [ ]
      responses:
        "200":
          description: OK
        "403":
          description: Forbidden
  /eu/dataset-types/{code}:
    get:
      tags:
        - dataset-type-controller
      operationId: getDatasetType
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DatasetType'
  /eu/access-rights:
    get:
      tags:
        - access-right-controller
      operationId: getDataThemes_1
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessRights'
    post:
      tags:
        - access-right-controller
      operationId: updateAccessRights
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: OK
        "403":
          description: Forbidden
  /eu/access-rights/{code}:
    get:
      tags:
        - access-right-controller
      operationId: getDataTheme_1
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessRight'
  /eu/planned-availabilities:
    get:
      tags:
        - planned-availability-controller
      operationId: getPlannedAvailabilities
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PlannedAvailabilities'
    post:
      tags:
        - planned-availability-controller
      operationId: updatePlannedAvailabilities
      security:
        - ApiKeyAuth: [ ]
      responses:
        "200":
          description: OK
        "403":
          description: Forbidden
  /eu/planned-availabilities/{code}:
    get:
      tags:
        - planned-availability-controller
      operationId: getPlannedAvailability
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PlannedAvailability'
  /eu/currencies:
    get:
      tags:
        - currency-controller
      operationId: getCurrencies
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Currencies'
    post:
      tags:
        - currency-controller
      operationId: updateCurrencies
      security:
        - ApiKeyAuth: [ ]
      responses:
        "200":
          description: OK
        "403":
          description: Forbidden
  /eu/currencies/{code}:
    get:
      tags:
        - currency-controller
      operationId: getCurrency
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Currency'
  /los/themes-and-words:
    get:
      tags:
        - los-controller
      operationId: getLosNodes
      parameters:
        - name: uris
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LosNodes'
  /geonorge/administrative-enheter/nasjoner:
    get:
      tags:
        - nasjon-controller
      operationId: getNasjoner
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Nasjoner'
  /geonorge/administrative-enheter/nasjoner/{nasjonsnummer}:
    get:
      tags:
        - nasjon-controller
      operationId: getNasjon
      parameters:
        - name: nasjonsnummer
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Nasjon'
  /geonorge/administrative-enheter/fylker:
    get:
      tags:
        - fylke-controller
      operationId: getFylker
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Fylker'
    post:
      tags:
        - fylke-controller
      operationId: updateFylker
      security:
        - ApiKeyAuth: [ ]
      responses:
        "200":
          description: OK
        "403":
          description: Forbidden
  /geonorge/administrative-enheter/fylker/{fylkesnummer}:
    get:
      tags:
        - fylke-controller
      operationId: getFylke
      parameters:
        - name: fylkesnummer
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Fylke'
  /geonorge/administrative-enheter/kommuner:
    get:
      tags:
        - kommune-controller
      operationId: getKommuner
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Kommuner'
    post:
      tags:
        - kommune-controller
      operationId: updateKommuner
      security:
        - ApiKeyAuth: [ ]
      responses:
        "200":
          description: OK
        "403":
          description: Forbidden
  /geonorge/administrative-enheter/kommuner/{kommunenummer}:
    get:
      tags:
        - kommune-controller
      operationId: getKommune
      parameters:
        - name: kommunenummer
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Kommune'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  schemas:
    LosNode:
      type: object
      properties:
        internalId:
          type: integer
          format: int64
        children:
          type: array
          items:
            type: string
            format: uri
        parents:
          type: array
          items:
            type: string
            format: uri
        isTheme:
          type: boolean
        losPaths:
          type: array
          items:
            type: string
        name:
          type: object
          additionalProperties:
            type: string
        definition:
          type: object
          additionalProperties:
            type: string
        uri:
          type: string
        synonyms:
          type: array
          items:
            type: string
        relatedTerms:
          type: array
          items:
            type: string
            format: uri
        theme:
          type: boolean
    LosNodes:
      type: object
      properties:
        losNodes:
          type: array
          items:
            $ref: '#/components/schemas/LosNode'
    MediaType:
      type: object
      properties:
        uri:
          type: string
        name:
          type: string
        type:
          type: string
        subType:
          type: string
    MediaTypes:
      type: object
      properties:
        mediaTypes:
          type: array
          items:
            $ref: '#/components/schemas/MediaType'
    FileType:
      type: object
      properties:
        uri:
          type: string
        code:
          type: string
        mediaType:
          type: string
    FileTypes:
      type: object
      properties:
        fileTypes:
          type: array
          items:
            $ref: '#/components/schemas/FileType'
    EuroVoc:
      type: object
      properties:
        uri:
          type: string
        code:
          type: string
        label:
          type: object
          additionalProperties:
            type: string
    EuroVocs:
      type: object
      properties:
        euroVocs:
          type: array
          items:
            $ref: '#/components/schemas/EuroVoc'
    ConceptSchema:
      type: object
      properties:
        uri:
          type: string
        label:
          type: object
          additionalProperties:
            type: string
        versionNumber:
          type: string
    DataTheme:
      type: object
      properties:
        uri:
          type: string
        code:
          type: string
        label:
          type: object
          additionalProperties:
            type: string
        startUse:
          type: string
          format: date
        conceptSchema:
          $ref: '#/components/schemas/ConceptSchema'
    DataThemes:
      type: object
      properties:
        dataThemes:
          type: array
          items:
            $ref: '#/components/schemas/DataTheme'
    DistributionStatus:
      type: object
      properties:
        uri:
          type: string
        code:
          type: string
        label:
          type: object
          additionalProperties:
            type: string
        startUse:
          type: string
          format: date
    DistributionStatuses:
      type: object
      properties:
        distributionStatuses:
          type: array
          items:
            $ref: '#/components/schemas/DistributionStatus'
    DistributionType:
      type: object
      properties:
        uri:
          type: string
        code:
          type: string
        label:
          type: object
          additionalProperties:
            type: string
        startUse:
          type: string
          format: date
    DistributionTypes:
      type: object
      properties:
        dataThemes:
          type: array
          items:
            $ref: '#/components/schemas/DistributionType'
    DatasetType:
      type: object
      properties:
        uri:
          type: string
        code:
          type: string
        label:
          type: object
          additionalProperties:
            type: string
        startUse:
          type: string
          format: date
    DatasetTypes:
      type: object
      properties:
        dataThemes:
          type: array
          items:
            $ref: '#/components/schemas/DatasetType'
    AccessRight:
      type: object
      properties:
        uri:
          type: string
        code:
          type: string
        label:
          type: object
          additionalProperties:
            type: string
    AccessRights:
      type: object
      properties:
        accessRights:
          type: array
          items:
            $ref: '#/components/schemas/AccessRight'
    PlannedAvailability:
      type: object
      properties:
        uri:
          type: string
        code:
          type: string
        label:
          type: object
          additionalProperties:
            type: string
    PlannedAvailabilities:
      type: object
      properties:
        plannedAvailabilities:
          type: array
          items:
            $ref: '#/components/schemas/PlannedAvailability'
    Currency:
      type: object
      properties:
        uri:
          type: string
        code:
          type: string
        label:
          type: object
          additionalProperties:
            type: string
    Currencies:
      type: object
      properties:
        currencies:
          type: array
          items:
            $ref: '#/components/schemas/Currency'
    Nasjon:
      type: object
      properties:
        uri:
          type: string
        nasjonsnavn:
          type: string
        nasjonsnummer:
          type: string
    Nasjoner:
      type: object
      properties:
        nasjoner:
          type: array
          items:
            $ref: '#/components/schemas/Nasjon'
    Fylke:
      type: object
      properties:
        uri:
          type: string
        fylkesnavn:
          type: string
        fylkesnummer:
          type: string
    Fylker:
      type: object
      properties:
        fylker:
          type: array
          items:
            $ref: '#/components/schemas/Fylke'
    Kommune:
      type: object
      properties:
        uri:
          type: string
        kommunenavn:
          type: string
        kommunenavnNorsk:
          type: string
        kommunenummer:
          type: string
    Kommuner:
      type: object
      properties:
        kommuner:
          type: array
          items:
            $ref: '#/components/schemas/Kommune'