application:
  api-key: ${API_KEY:tst}
  catalog-admin-uri: ${CATALOG_ADMIN_SERVICE_URI:https://catalog-admin-service.staging.fellesdatakatalog.digdir.no}
  cors.originPatterns: ${CORS_ORIGIN_PATTERNS:*}

spring:
  http.codecs.max-in-memory-size: 2MB
  data:
    mongodb:
      auto-index-creation: true
  mongodb:
    host: ${MONGODB_HOST}
    username: ${MONGODB_USER}
    password: ${MONGODB_PASSWORD}
    authentication-database: ${MONGODB_AUTH}
    replica-set-name: ${MONGODB_REPLICASET}
    port: 27017
    database: referenceData

server:
  port: 8080
  servlet:
    context-path: /reference-data
  compression:
    enabled: true
    mime-types: application/json
    tomcat:
      compression: on

management:
  endpoints:
    web:
      path-mapping:
        info: ping
        health: ready
      exposure:
        include: health, info, prometheus
  metrics:
    tags:
      application: reference-data
springdoc.api-docs.version: openapi_3_0
graphiql:
  cdn:
    enabled: true

logging:
  level:
    root: WARN
    no.*: ${LOG_LEVEL:INFO}
    org.springframework.*: WARN
    org.apache.jena.*: ERROR

---

spring:
  config.activate.on-profile: develop,unit-integration
  mongodb:
    host: localhost
    username: root
    password: password
    authentication-database: admin
    replica-set-name: null
server:
  port: 8113
  servlet:
    context-path: /

management:
  statsd:
    metrics:
      export:
        enabled: false
---

spring:
  config.activate.on-profile: test
  mongodb:
    host: localhost
    username: root
    password: password
    authentication-database: admin
    replica-set-name: null
server:
  servlet:
    context-path: /

management:
  statsd:
    metrics:
      export:
        enabled: false
